
<% if user_signed_in? %>
<% if current_user.name == "Administrador"%>
<h1>Listado de Ingresos a las Aulas</h1>
  <table class= "table table-hover">
    <thead>
      <tr>
        <th> Aula </th>
        <th> Usuario </th>
        <th> Hora de entrada </th>
        <th> Hora de salida </th>
        <th> Consumo </th>
        <th> Acciones </th>
      </tr>
    </thead>
<tbody>
  <% Ingreso.all.each do |ingre| %>
    <tr>
      <td> <%= Aula.find(ingre.aula_id).NombreAula %> </td>
      <td> <%= User.find(ingre.user_id).name %> </td>
      <td> <%= ingre.HoraEntrada %> </td>
      <td> <%= ingre.HoraSalida %> </td>
      <td> <%= ingre.ConsumoParcial %> </td>
      <td>
      <td>
          <%= link_to "Editar", editarLogro_path(@ingre, :id => ingre.id), class: 'btn btn-info btn-sm' %>
          <%= link_to "Eliminar", eliminarIngreso_path(@ingre, :id => ingre.id), class: 'btn btn-danger btn-sm"' %>
      </td>
      <td>
    </tr>
<% end %>
</tbody>
</table>
<% end %>
<% else %>
<h1>Aulas Inteligentes</h1>
<p>Sistema de control inteligente de las aulas de la <a href="https://ing.unlp.edu.ar">Facultad de Ingeniería</a> de la UNLP. El sistema reduce el consumo energético de las aulas optimizando el uso de los recursos. Además brinda estadísticas de consumo, provee mayor seguridad a las aulas e informa el uso de las mismas.
</p>
<% end %>
